@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

@layer base{
    body{
        color: rgb(43, 43, 43);
        @apply font-sans;

        background: url('../public/img/banner.png') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    main{
        min-height: calc(100vh - 68px - 68px);
    }
}